# =========================
# Python virtual environment
# =========================
.venv/
venv/
ENV/
.env

# =========================
# Python cache / compiled
# =========================
__pycache__/
*.py[cod]
*.pyo
*.pyd

# =========================
# Jupyter Notebook
# =========================
.ipynb_checkpoints/

# =========================
# VS Code
# =========================
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json

# =========================
# macOS system files
# =========================
.DS_Store

# =========================
# Logs & temp files
# =========================
*.log
*.tmp
*.swp

# =========================
# Data & output files
# =========================
*.csv
*.xlsx
*.pdf
figs/